<!--Main Footer-->
    <footer class="main-footer style-two">
		<div class="auto-container">
        	<!--Widgets Section-->
            <div class="widgets-section">
            	<div class="row clearfix">
                	
                    <!--big column-->
                    <div class="big-column col-md-6 col-sm-12 col-xs-12">
                        <div class="row clearfix">
							
                            <!--Footer Column-->
                            <div class="footer-column col-md-7 col-sm-6 col-xs-12">
                                <div class="footer-widget logo-widget">
									<div class="logo">
                                    	<a href="index.html"><img src="assets/images/footer-logo-2.png" alt="" /></a>
                                    </div>
                                    <div class="text">This prodigiously grew tortoise charact stupidly pernicious jeepers along while accordingly under useful much salacious walking fars before some supp aesthetically wow shuddered.</div>
                                    <ul class="social-icon-two">
                                        <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                                        <li><a href="#"><span class="fa fa-facebook-square"></span></a></li>
                                        <li><a href="#"><span class="fa fa-google-plus"></span></a></li>
                                        <li><a href="#"><span class="fa fa-youtube-play"></span></a></li>
                                        <li><a href="#"><span class="fa fa-pinterest-p"></span></a></li>
                                    </ul>
                                </div>
                            </div>
							
                            <!--Footer Column-->
                            <div class="footer-column col-md-5 col-sm-6 col-xs-12">
                                <div class="footer-widget links-widget">
                                	<h2>Web Links</h2>
                                    <ul class="links">
                                    	<li><a href="#">Home Page</a></li>
                                        <li><a href="#">About us</a></li>
                                        <li><a href="#">Our Services</a></li>
                                        <li><a href="#">Our News</a></li>
                                        <li><a href="#">Contact Us</a></li>
                                    </ul>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    
                    <!--big column-->
                    <div class="big-column col-md-6 col-sm-12 col-xs-12">
                        <div class="row clearfix">
							
                            <!--Footer Column-->
                            <div class="footer-column col-md-6 col-sm-6 col-xs-12">
                                <div class="footer-widget posts-widget">
                                	<h2>Recent Posts</h2>
                                    
                                    <!--Widget Post-->
                                    <article class="widget-post">
                                        <figure class="post-thumb"><a href="blog-single.html"><img src="assets/images/resource/post-thumb-1.jpg" alt=""></a></figure>
                                        <div class="text"><a href="blog-single.html">We have best Pet Grooming Services</a></div>
                                        <div class="post-info">Feb 15, 2018</div>
                                    </article>
                                    
                                    <!--Widget Post-->
                                    <article class="widget-post">
                                        <figure class="post-thumb"><a href="blog-single.html"><img src="assets/images/resource/post-thumb-2.jpg" alt=""></a></figure>
                                        <div class="text"><a href="blog-single.html">Less tme is required for cat grooming</a></div>
                                        <div class="post-info">Feb 15, 2018</div>
                                    </article>
                                    
                                </div>
                            </div>
                            
                            <!--Footer Column-->
                            <div class="footer-column col-md-6 col-sm-6 col-xs-12">
                                <div class="footer-widget info-widget">
                                	<h2>Get In Touch</h2>
                                    <ul>
                                    	<li><span class="icon fa fa-map-marker"></span>32 BellSouth, Harley Street <br> Florida 33968</li>
                                        <li><span class="icon fa fa-phone"></span>+(1) 234 567 8900</li>
                                        <li><span class="icon fa fa-envelope"></span>Bukosabino@gmail.com</li>
                                    </ul>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    
                </div>
            </div>
            
            <div class="footer-bottom">
            	<div class="copyright">Copyrights 2018 <span>PAWREX Grooming Services</span> • All Rights Reserved.</div>
            </div>
            
        </div>
    </footer>
    <!--End Main Footer-->
    

<!--End pagewrapper-->

