<!-- Preloader -->
<div class="preloader"></div>
	
<!-- Main Header-->
<header class="main-header">
	
    <!--Header Top-->
	<div class="header-top">
    	<div class="auto-container">
        	<div class="top-inner">
            	<div class="clearfix">
                    <div class="top-left">
                        <ul class="clearfix">
                            <li><span class="icon flaticon-map-marker"></span>32 Bell South, Harley St. FL</li>
                            <li><span class="icon flaticon-telephone-handle-silhouette"></span>+(1) 234 567 8900</li>
                            <li><a href="#"><span class="icon fa fa-envelope"></span>support@pawrex.com</a></li>
                        </ul>
                    </div>
                    <div class="top-right clearfix">
                        <div class="donate-box"><a href="https://www.paypal.me/guau/3" class="theme-btn btn-style-one">donate</a></div>
                        <!--social-icon-->
                        <div class="social-icon">
                            <ul class="clearfix">
                            	<li><a href="#"><span class="fa fa-twitter"></span></a></li>
                                <li><a href="#"><span class="fa fa-facebook-square"></span></a></li>
                                <li><a href="#"><span class="fa fa-google-plus"></span></a></li>
                                <li><a href="#"><span class="fa fa-youtube-play"></span></a></li>
                                <li><a href="#"><span class="fa fa-pinterest-p"></span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!--Header-Upper-->
    <div class="header-upper">
    	<div class="auto-container clearfix">
            	
            <div class="pull-left logo-outer">
                <div class="logo"><a href="index.html"><img src="assets/images/logo.png" alt="" title=""></a></div>
            </div>
            
            <div class="pull-right upper-right clearfix">
                
                <div class="nav-outer clearfix">
            		<!-- Main Menu -->
                    <nav class="main-menu">
                        <div class="navbar-header">
                            <!-- Toggle Button -->    	
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            </button>
                        </div>
                        
                        <div class="navbar-collapse collapse clearfix">
                       <ul *ngIf="authService.authenticated" class="navigation clearfix">

                            <li *ngIf="active=='home'" class="current dropdown">
                                <a routerLink="/animal" routerLinkActive="active">Home</a>
                            </li>
                            <li *ngIf="active!='home'" class="dropdown">
                                <a routerLink="/animal" routerLinkActive="active">Home</a>
                            </li>

                            
                            <li *ngIf="active=='mios'" class="current dropdown">
                                <a routerLink="/my-animals" routerLinkActive="active">My Animals</a>
                            </li>
                            <li *ngIf="active!='mios'" class="dropdown">
                                <a routerLink="/my-animals" routerLinkActive="active">My Animals</a>
                            </li>

                            <li *ngIf="active=='nuevo'" class="current dropdown">
                                <a routerLink="/new-animal" routerLinkActive="active">New Animal</a>
                            </li>
                            <li *ngIf="active!='nuevo'" class="dropdown">
                                <a routerLink="/new-animal" routerLinkActive="active">New Animal</a>
                            </li>
                            
                            <li *ngIf="active=='contact'" class="current dropdown">
                                <a routerLink="/contact" routerLinkActive="active">Contact</a>
                            </li>
                            <li *ngIf="active!='contact'" class="dropdown">
                                <a routerLink="/contact" routerLinkActive="active">Contact</a>
                            </li>

                            <li class="dropdown">
                                <a (click)="logout()">Log Out</a>
                            </li>
                        </ul>
                       <ul *ngIf="!authService.authenticated" class="navigation clearfix">
                            
                            <li *ngIf="active=='home'" class="current dropdown">
                                <a routerLink="/animal" routerLinkActive="active">Home</a>
                            </li>
                            <li *ngIf="active!='home'" class="dropdown">
                                <a routerLink="/animal" routerLinkActive="active">Home</a>
                            </li>
                            
                            <li *ngIf="active=='contact'" class="current dropdown">
                                <a routerLink="/contact" routerLinkActive="active">Contact</a>
                            </li>
                            <li *ngIf="active!='contact'" class="dropdown">
                                <a routerLink="/contact" routerLinkActive="active">Contact</a>
                            </li>

                            <li *ngIf="active=='login'" class="current dropdown">
                                <a routerLink="/signin" routerLinkActive="active">Login</a>
                            </li>
                            <li *ngIf="active!='login'" class="dropdown">
                                <a routerLink="/signin" routerLinkActive="active">Login</a>
                            </li>
                            
                            <li *ngIf="active=='register'" class="current dropdown">
                                <a routerLink="/signup" routerLinkActive="active">Register</a>
                            </li>
                            <li *ngIf="active!='register'" class="dropdown">
                                <a routerLink="/signup" routerLinkActive="active">Register</a>
                            </li>
                        </ul>
                        </div>
                    </nav>
                    
                    <!-- Main Menu End-->
                    <div class="outer-box">
                        <!--Search Box-->
                        <div class="search-box-outer">
                            <div class="dropdown">
                                <button class="search-box-btn dropdown-toggle" type="button" id="dropdownMenu3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="fa fa-search"></span></button>
                                <ul class="dropdown-menu pull-right search-panel" aria-labelledby="dropdownMenu3">
                                    <li class="panel-outer">
                                        <div class="form-container">
                                            <form method="post" action="blog.html">
                                                <div class="form-group">
                                                    <input type="search" name="field-name" value="" placeholder="Search Here" required>
                                                    <button type="submit" class="search-btn"><span class="fa fa-search"></span></button>
                                                </div>
                                            </form>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
        		</div>
                
            </div>
                
        </div>
    </div>
    <!--End Header Upper-->
    
    <!--Sticky Header-->
    <div class="sticky-header">
    	<div class="auto-container clearfix">
        	<!--Logo-->
        	<div class="logo pull-left">
            	<a href="index.html" class="img-responsive"><img src="assets/images/logo-small.png" alt="" title=""></a>
            </div>
            
            <!--Right Col-->
            <div class="right-col pull-right">
            	<!-- Main Menu -->
                <nav class="main-menu">
                    <div class="navbar-header">
                        <!-- Toggle Button -->    	
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    
                    <div class="navbar-collapse collapse clearfix">
                       <ul *ngIf="authService.authenticated" class="navigation clearfix">

                            <li *ngIf="active=='home'" class="current dropdown">
                                <a routerLink="/animal" routerLinkActive="active">Home</a>
                            </li>
                            <li *ngIf="active!='home'" class="dropdown">
                                <a routerLink="/animal" routerLinkActive="active">Home</a>
                            </li>

                            <li *ngIf="active=='mios'" class="current dropdown">
                                <a routerLink="/my-animals" routerLinkActive="active">My Animals</a>
                            </li>
                            <li *ngIf="active!='mios'" class="dropdown">
                                <a routerLink="/my-animals" routerLinkActive="active">My Animals</a>
                            </li>

                            <li *ngIf="active=='nuevo'" class="current dropdown">
                                <a routerLink="/new-animal" routerLinkActive="active">New Animal</a>
                            </li>
                            <li *ngIf="active!='nuevo'" class="dropdown">
                                <a routerLink="/new-animal" routerLinkActive="active">New Animal</a>
                            </li>
                            
                            <li *ngIf="active=='contact'" class="current dropdown">
                                <a routerLink="/contact" routerLinkActive="active">Contact</a>
                            </li>
                            <li *ngIf="active!='contact'" class="dropdown">
                                <a routerLink="/contact" routerLinkActive="active">Contact</a>
                            </li>

                            <li class="dropdown">
                                <a (click)="logout()">Log Out</a>
                            </li>
                        </ul>
                       <ul *ngIf="!authService.authenticated" class="navigation clearfix">
                            
                            <li *ngIf="active=='home'" class="current dropdown">
                                <a routerLink="/animal" routerLinkActive="active">Home</a>
                            </li>
                            <li *ngIf="active!='home'" class="dropdown">
                                <a routerLink="/animal" routerLinkActive="active">Home</a>
                            </li>
                            
                            <li *ngIf="active=='contact'" class="current dropdown">
                                <a routerLink="/contact" routerLinkActive="active">Contact</a>
                            </li>
                            <li *ngIf="active!='contact'" class="dropdown">
                                <a routerLink="/contact" routerLinkActive="active">Contact</a>
                            </li>

                            <li *ngIf="active=='login'" class="current dropdown">
                                <a routerLink="/signin" routerLinkActive="active">Login</a>
                            </li>
                            <li *ngIf="active!='login'" class="dropdown">
                                <a routerLink="/signin" routerLinkActive="active">Login</a>
                            </li>
                            
                            <li *ngIf="active=='register'" class="current dropdown">
                                <a routerLink="/signup" routerLinkActive="active">Register</a>
                            </li>
                            <li *ngIf="active!='register'" class="dropdown">
                                <a routerLink="/signup" routerLinkActive="active">Register</a>
                            </li>

                        </ul>
                    </div>
                </nav>
                <!-- Main Menu End-->
                
            </div>
            
        </div>
    </div>
    <!--End Sticky Header-->

</header>
<!--End Main Header -->
    