<!--Pets Box-->
<section class="pets-box">
	<div class="auto-container">
    	<div class="inner-container" style="background-image:url(assets/images/background/11.png)">
        	<h2>Find Your Pet</h2>
            
            <!-- Pets Form -->
            <div class="pets-search-form">
                <!--Form-->
                <form>
                    
                    <div class="row clearfix">
                        
                        <!--Form Group-->
                        <div class="form-group col-md-3 col-sm-6 col-xs-12">
                            <select #tipo class="custom-select-box" (change)="onChangeType($event.target.value)" required>
                                <option *ngFor="let tipo of tipos" [value]="tipo.id">{{tipo.species}}</option>
                            </select>
                        </div>
                        
                        <!--Form Group-->
                        <div class="form-group col-md-3 col-sm-6 col-xs-12">
                            <select #raza class="custom-select-box" required>
                                <option *ngFor="let raza of razas" [value]="raza.id">{{raza.name}}</option>
                            </select>
                        </div>
                        
                        
                        <!--Form Group-->
                        <div class="form-group col-md-3 col-sm-6 col-xs-12">
                            <button class="theme-btn btn-style-two" type="submit" (click)="search(tipo.value, raza.value)" name="submit-form">Search Now</button>
                        </div>
                        
                    </div>
                </form>
            </div>
            
        </div>
    </div>
</section>
<!--End Pets Box-->

<!--Pets Container-->
<section class="pets-container">
	<div class="auto-container">
    	<h2>We ‘ve These Great Pets for You, Ready to Adopt ...</h2>
        <div class="row clearfix">
        	<div *ngFor="let animal of animales">

			<!--Pets Block-->
            <div class="pet-block col-md-4 col-sm-6 col-xs-12">
            	<div class="inner-box">
                	<div class="image">
                    	<img src="http://127.0.0.1:8000/imagen?animal_id={{animal.id}}" alt="" />
                        <!--Overlay Box-->
                        <div class="overlay-box">
                            <div class="overlay-inner">
                                <div class="content">
                                	<ul>
                                    	<li><a routerLink="/animal/detail/{{animal.id}}" routerLinkActive="active">view detail</a></li>
                                        <li class="share"><a href="pet-detail.html"><span class="fa fa-share-alt"></span></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="lower-content">
                    	<h3><a routerLink="/animal/detail/{{animal.id}}" routerLinkActive="active">{{animal.name}}</a></h3>
                        <ul>
                        	<li>{{animal.age}} {{animal.genre}}</li>
                            <li>{{animal.color}} {{animal.race}}</li>
                            <li>Hollywood, FL</li>
                        </ul>
                        <a routerLink="/animal/detail/{{animal.id}}" routerLinkActive="active" class="theme-btn btn-style-eight">adopt me</a>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
</section>
<!--End Pets Container-->
<app-footer-black></app-footer-black>