<div *ngIf="!logged">
	<div>
		<p>Registro</p>
	  <label><br>Nombre de Usuario:
	    <input #usern required />
	    <br>Contraseña:
	    <input #passw type="password" required>
	    <br>Email:
	    <input #email type="email" required>
	    <br>Nombre:
	    <input #first_name>
		<br>Apellidos:
	    <input #last_name>
	    <br>Ciudad:
	    <input #city type="hidden" value="1">
	  </label>
	  <br><button (click)="register(usern.value,passw.value,email.value,first_name.value,last_name.value,city.value);">
	    Registro
	  </button>
	</div>
	<br><hr><br>
	<div>
		<p>Login</p>
		<label>
		<br>Nombre de Usuario:
		<input #username>
		<br>Contraseña:
		<input #password type="password">
		</label>
		<br><button (click)="login(username.value,password.value);">
	    Log In
	  </button>
	</div>
</div>
<div *ngIf="logged">
	<div>
		<p>TESTEO</p>
	<button (click)="yo()">
		test
	</button>
	</div>
<br>
<app-nuevo-animal></app-nuevo-animal>
<br><hr><br>
<button (click)="getAnimals()">Cargar Animales</button>
<div *ngIf="animales">
	<div *ngFor="let animal of animales">
	    <h2>{{ animal.name | uppercase }} Details</h2>
	    <img src="http://127.0.0.1:8000/imagen?animal_id={{animal.id}}">
		<div><span>Estado: </span>{{animal.state}}</div>
		<div><span>Nombre: </span>{{animal.name}}</div>
		<div><span>Descripcion: </span>{{animal.description}}</div>
		<div (click)="onSelect(animal.profile)"><span>Usuario: </span>{{animal.profile}}</div>
		<button (click)="deleteAnimal(animal.id)">Borrar</button>
	</div>


	<app-user-detail [userid]="selectuserid"></app-user-detail>
</div>
</div>
