<!--Page Title-->
<section class="page-title" style="background-image:url(assets/images/background/7.jpg)">
	<div class="auto-container">
    	<div class="clearfix">
        	<div class="pull-left">
            	<h1>Adopt a Pet</h1>
            </div>
            <div class="pull-right">
                <ul class="page-breadcrumb">
                    <li><a href="index.html">Home</a></li>
                    <li>Adopt a Pet</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!--End Page Title-->

<!--Pets Box-->
<section class="pets-box">
	<div class="auto-container">
    	<div class="inner-container" style="background-image:url(assets/images/background/11.png)">
        	<h2>Find Your Pet</h2>
            
            <!-- Pets Form -->
            <div class="pets-search-form">
                <!--Form-->
                <form method="post" action="pets.html">
                    
                    <div class="row clearfix">
                        
                        <!--Form Group-->
                        <div class="form-group col-md-3 col-sm-6 col-xs-12">
                            <select class="custom-select-box" required>
                                <option>Select Pet Type</option>
                                <option>One</option>
                                <option>Two</option>
                                <option>Three</option>
                                <option>Four</option>
                            </select>
                        </div>
                        
                        <!--Form Group-->
                        <div class="form-group col-md-3 col-sm-6 col-xs-12">
                            <select class="custom-select-box" required>
                                <option>Select Breeds (Optional)</option>
                                <option>One</option>
                                <option>Two</option>
                                <option>Three</option>
                                <option>Four</option>
                            </select>
                        </div>
                        
                        <!--Form Group-->
                        <div class="form-group col-md-3 col-sm-6 col-xs-12">
                            <select class="custom-select-box" required>
                                <option>Enter City/ZipCode</option>
                                <option>100000</option>
                                <option>200000</option>
                                <option>300000</option>
                                <option>400000</option>
                            </select>
                        </div>
                        
                        <!--Form Group-->
                        <div class="form-group col-md-3 col-sm-6 col-xs-12">
                            <button class="theme-btn btn-style-two" type="submit" name="submit-form">Search Now</button>
                        </div>
                        
                    </div>
                </form>
            </div>
            
        </div>
    </div>
</section>
<!--End Pets Box-->
<div *ngIf="r">
<!--Pets Container-->
<section class="pets-container">
	<div class="auto-container">
    	<h2>We ‘ve These Great Pets for You, Ready to Adopt ...</h2>
        <div class="row clearfix">
        	
            <!--Sidebar Page Container-->

            <!--Content Side / Blog Single-->
            <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
                <section class="slider">
                    <div id="petcarousel" class="flexslider">
                          <ul class="slides">
                            
                            <li>
                                <img src="http://127.0.0.1:8000/imagen?animal_id={{animal.id}}">
                            </li>
                            
                          </ul>
                    </div>
                </section>

            </div>
            <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                
                <div class="name">
                        <h4>Name: <strong>{{ animal.name | uppercase }}</strong></h4>
                    <ul  class="petdetails">
                            <li>Age: <strong>{{animal.age}}</strong></li>
                        
                            <li>Gender: <strong>{{animal.genre}}</strong></li>
                       
                            <li>Breed: <strong>{{animal.race}}</strong></li>
                        
                            <li>State: <strong>{{animal.state}}</strong></li>
                       
                            <li>Color: <strong>{{animal.color}}</strong></li>
                        
                            <li>Location: <strong>Florida</strong></li>
                        
                    </ul>
                    
                </div>

            </div>
            
        </div>
    </div>
</section>
</div>
<!--End Pets Container-->
<app-footer-black></app-footer-black>