<!--Page Title-->
    <section class="page-title" style="background-image:url(assets/images/background/7.jpg)">
    	<div class="auto-container">
        	<div class="clearfix">
            	<div class="pull-left">
                	<h1>Change Password</h1>
                </div>
                <div class="pull-right">
                    <ul class="page-breadcrumb">
                        <li><a href="index.html">Home</a></li>
                        <li>change password</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!--End Page Title-->
    <div class="sidebar-page-container">
        <div class="auto-container">
            <div class="row clearfix">
    <div id="login" class="ptb ptb-xs-40 page-signin">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
        	<div class="main-body">
        	  <div class="body-inner">
        	    <div class="card bg-white">
        	      <div class="card-content">
        	        <section class="logo text-center">
        	          <!--Sec Title-->
                        <div class="sec-title centered">
                            <div class="separator">
                                <span class="icon flaticon-pawprint-1"></span>
                            </div>
                            <div class="title">Because We Really Care About Your Pets</div>
                            <h2>Change Password</h2>
                        </div>
        	        </section>
        	        <form class="form-horizontal ng-pristine ng-valid">
        	          <fieldset>
        	            <div class="form-group">
        	              <div class="ui-input-group">
        	                <input #password type="password" required="" class="form-control">
        	                <span class="input-bar"></span>
        	                <label>New Password</label>
        	              </div>
        	            </div>
        	            <div class="form-group">
        	              <div class="ui-input-group">
        	                <input #password2 type="password" required="" class="form-control">
        	                <span class="input-bar"></span>
        	                <label>Repeat Password</label>
        	              </div>
        	            </div>
        	          </fieldset>
        	        </form>
        	      </div>
        	      <div class="card-action no-border text-right"> <a (click)="change(password.value,password2.value);" class="color-primary">Change Password</a> </div>
        	    </div>
        	  </div>
        	</div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>
<app-footer-black></app-footer-black>